<nb-card>
  <nb-card-header>
    Listado de Jugadores  <span style="color: rgb(161,161,229)">( 250 registrados | 105 activos | 20 conectados )</span>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
