<nb-card size="large">
  <div class="statistics-table">
    <div class="table-header">
      <div>Logins / Instalaciones</div>
      <div class="subtitle">jugadores activos x hora</div>
    </div>

    <nb-tabset fullWidth>
      <nb-tab *ngFor="let day of data" [tabTitle]="day.title" [active]="day.active">
        <div class="stats-hour" *ngFor="let hour of day.hours">
          <div>
            <span class="hour">{{ hour.hour }}</span>
            <span class="delta" [ngClass]="{ 'down': hour.down }">{{ hour.delta }}</span>
          </div>
          <div class="results">
            <b>{{ hour.logins }}</b> logins / <b>{{ hour.installs }}</b> installs
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>

  <div class="chart-container">
    <div class="chart-header">
      <div class="header-stats">
        <div class="stats-block">
          <div class="subtitle">24 HORAS</div>
          <div>
            <span class="value">816</span>
            <span class="unit">DAU</span>
          </div>
        </div>

        <div class="stats-block">
          <div class="subtitle">OCTUBRE</div>
          <div>
            <span class="value">5291</span>
            <span class="unit">MAU</span>
          </div>
        </div>
      </div>

      <!--div class="dropdown" ngbDropdown>
        <button type="button" ngbDropdownToggle class="btn"
                [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
          {{ type }}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" *ngFor="let t of types" (click)="type = t">{{ t }}</li>
        </ul>
      </div-->

    </div>
    <ngx-statistics-chart></ngx-statistics-chart>
  </div>
</nb-card>
