<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="En Linea">
      <div class="player" *ngFor="let c of players">
        <nb-user [picture]="c.player.avatar_url" [name]="(c.player.username!='')?c.player.username:'anonimous'" [title]="c.player.pop_id" size="large"></nb-user>
        <span class="time">{{c.player.session}} hs</span>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Recientes">
      <div class="player" *ngFor="let c of recent">
        <nb-user [picture]="c.player.avatar_url" [name]="(c.player.username!='')?c.player.username:'anonimous'" [title]="c.player.pop_id" size="large"></nb-user>
        <span class="time">{{ c.player.time }}</span>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
