// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.img-achievement  {
  max-height: 3.25rem;
  background: #a1a1e5;
  border: solid 2px #00f9a6; // is online
}


.img-avatar  {
  border-radius: 40%;
  max-width: 3.25rem;
  max-height: 3.25rem;
  background: #a1a1e5;
  border: solid 2px #00f9a6; // is online
}

.user-container {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.info-container {
  margin-left: 0.5rem;
  box-sizing: border-box;
  //font-size: 1rem;
  line-height: 1.25;
  //color: #a1a1e5;
  font-family: Roboto;
  font-size: 1.10rem;
}

.user-title {
  font-size: 0.90rem;
  box-sizing: border-box;
  font-family: Roboto;
  text-transform: uppercase;
  color: #a1a1e5;
}

.user-subtitle {
  font-size: 0.75rem;
  box-sizing: border-box;
  font-family: Roboto;
  //color: #d1d1ff;;
  color: gray;
  //color: rgb(161, 161, 229);
}

.on_line_on {
  color: rgb(0, 249, 166);
}

.player_status_banned {
  color: rgb(161, 161, 229);
}

.player_status_active {

}


.player-main-content {
  box-sizing: content-box;
}

.player-left-column {
  max-width: 15%;
  min-width: 15rem;
}

.player-menu-item {
//  width: 10% !important;
  min-width: 12rem;
}

//.player-menu-item .menu-icon {
//  font-size: 2.5rem !important;
//}

.player-profile-pop-id {
  color: rgb(161,161,220) !important;
}

.suptext {
  color: rgb(161,161,220) !important;
}

.suptext2 {
  color: #00f9a6;

}

.suptext3 {
  //color: lightgray;
  //color: gray;
}

