<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">game-<span>pop</span></div>
  </div>
  <!--ngx-theme-switcher></ngx-theme-switcher-->
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action class="control-item">
  </nb-action>
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action>
    <nb-user [menu]="userMenu" [name]="popUser?.sub" [picture]="http.popGame?.logoUrl"></nb-user>
  </nb-action>
  <nb-action>
    {{http.popGame.titleName | uppercase}}&nbsp;&nbsp;<span style="color: #26df8b;">({{http.popGame.titleId}})</span>
  </nb-action>

</nb-actions>
