<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Cuenta de Jugador</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">POP ID</label>
            <input type="text" id="popId" class="alert alert-primary form-control player-profile-pop-id" placeholder="[pop_id]" value="g2c7c1011533c086" disabled="true"/>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Device ID</label>
            <input type="text" id="popId" class="alert alert-hint form-control player-profile-pop-id" placeholder="[pop_id]" value="g2c7c1011533c086" disabled="true"/>
          </div>
          <label for="exampleInputEmail1">Avatar</label>
          <div class="input-group">
            <span class="input-group-addon success">@</span>
            <input type="text" placeholder="username" class="form-control player-profile-pop-id" value="matildata87" disabled="true"/>
          </div>
          <div class="input-group ">
            <span class="input-group-addon success ion-social-instagram-outline"></span>
            <input placeholder="avatar picture" class="form-control player-profile-pop-id" value="assets/images/avatars/players/034" disabled="true"/>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
            <div class="form-group">
              <label for="inputFirstName">Primera Sesion</label>
              <input type="text" class="form-control player-profile-pop-id" id="inputFirstLogin" placeholder="[login_date]" value="11/19/2017 9:41:00 PM" disabled="true">
            </div>
            <div class="form-group">
              <label for="inputLastName">Ultima Sesion</label>
              <input type="text" class="form-control player-profile-pop-id" id="inputLastLogin" placeholder="[login_date]" value="11/19/2017 9:41:00 PM" disabled="true">
            </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-8">
    <pop-player-economy-table></pop-player-economy-table>
    <pop-player-data-table></pop-player-data-table>
  </div>
</div>
